@import url('main.css');

h1 {
    font-weight: bold;
    margin-bottom: 5%;
}

.rs-sub-title {
    font-size: 32px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.bar {
    margin-bottom:2%;
}

p {
    font-size: 22px;
}

