.tire-description {
  font-size: 18px;
}

.tire-title {
  font-weight: bold;
  font-size: 28px;
}

.tire-info-container {
  display: flex;
  flex-direction: column;
}

.tire-img-container {
  width: 35%;
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 5%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }

 .indicator {
  filter: invert(100%);
 }

.tire-info-container {
  padding-bottom: 10%;
}

h1 {
  text-align: center;
  margin-bottom: 5%;
  font-size: 52px;
  font-weight: bold;
}