{% extends 'layout.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

<div class="home-container">
    <div>
        <div class="title-container">
            <h1>🏎️ Formula 1 Video Games!</h1>
            <div>
                <a class="btn btn-outline-primary btn-lg" role="button" href="{{ url_for('tire_types') }}">Start Your Learning Journey</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
