{% extends 'layout.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1>🏎️ Formula 1 video games!</h1>
    <div>
        <button id="tire-types-btn"><a class="navbar-brand" href="{{ url_for('tire_types') }}">Tire Types</a></button>
        <button id="tire-types-btn"><a class="navbar-brand" href="{{ url_for('race_strategy') }}">Race Strategy</a></button>
        <button id="tire-types-btn"><a class="navbar-brand" href="{{ url_for('switching_tires') }}">Switching Tires</a></button>
        <button id="tire-types-btn"><a class="navbar-brand" href="{{ url_for('quiz_start') }}">Test Your Knowledge</a></button>
    </div>
</div>
{% endblock %}
