{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='race_strategy.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'race_strategy.js') }}"></script>
<div class="race-strategy-container">
    <div class="row bar">
        <div class="col-md-8 slide-in-left from-left">
            <img src="../static/images/F1-team-strategy.jpg" alt="Race Strategy Menu" class="img-fluid">
        </div>
        <div class="col-md-4 slide-in-right from-right">
            <h1 class="title-within">Race Startegy</h1>
            <div class="rs-info-0">
                <p>In F1, teams aim to optimize factors like tire choices, pit stops, and fuel management.</p>
            </div>
        </div>
    </div>
    <div class="row bar">
        <div class="col-md-4 slide-in-right from-right">
            <div class="rs-info-0">
                <p>The strategy menu shows the expected track conditions and details about your strategy</p>
                <p>Before a race your team will give you an option between two strategies. The color in indicates the tire type and the line graph represents to expected tire wear over time.</p>
            </div>
        </div>
        <div class="col-md-8 slide-in-left from-left">
            <img src="../static/images/rs-menu.png" alt="Race Strategy Menu" class="resize img-fluid">
        </div>
    </div>
    <div class="row bar">
        <div class="col-md-8 slide-in-left from-left">
            <img src="../static/images/rs_tire_menu.png" alt="Tire Strategy Menu" class="img-fluid">
        </div>
        <div class="col-md-4 slide-in-right from-right">
            <div class="rs-info-0">
                <p>You can also edit a the strategy to your liking and choose which tires to use and when you plan to switch them in the race</p>
            </div>
        </div>
    </div>
    <div class="row bar">
        <div class="col-md-4 slide-in-left from-left">
            <div class="rs-info-0">
                <span class="rs-sub-title">Tire Wear</span>
                <p>Teams switch tires due to tire wear. Tires will degrade over time due to friction from the track. The more wear a tire has the less grip it has on the track making it harder to turn at speed and easier to lose control.</p>
                <p>Uneven tire wear can make even easier to lose control of the car</p>
            </div>
        </div>
        <div class="col-md-8 slide-in-left from-right">
            <img src="../static/images/tire_wear.png" alt="Tire Wear GUI" class="img-fluid">
        </div>
    </div>
    <a class="btn btn-primary btn-lg adv-btn" role="button" href="{{ url_for('advance') }}">Continue</a>
</div>
{% endblock %}